.backgroundfront {
    background-image: url(background_new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.parent {
    background-color:rgba(17, 100, 72, 0.575);
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-indent: 20px;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    margin: 50px;
    cursor: pointer;
}

.logo:hover {
    background-color:green;
}

.Menue {
    font-family: arial;
    font-size: large;
    margin: 50px;
    text-decoration: none;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

.frontheadline {
    font-family: arial;
    font-size: 100px;
    color: rgba(17, 100, 72, 0.575);
    display: block;
    margin: 50px;
}

.fließtext {
    font-family: arial;
    font-weight: 700;
    color: azure;
}

.child {
    width: 400px;
    margin: 50px;
}

body {
    margin: 0px;
}

.mapchild {
    width: 1200px;
    height: 400px;
    margin: 50px;
    display: flex;
    flex-flow: row;
}

.fließtextmap {
    font-family: Arial;
    font-size: medium;
    color: rgba(2, 44, 30, 0.575);
    margin-left: 50px;
    margin-top: 0%;
    font-weight: 700;
}

.mapchild2 {
    width: 1200px;
    height: 400px;
    margin: 50px;
    display: flex;
    flex-flow: row;
}

.footer {
    background-color: rgba(17, 100, 72, 0.575);
    text-align: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.footertext {
    font-family: arial;
    font-size: medium;
    color: azure;
    font-weight: 700;
    padding: 10px;
}

.description {
    width: 400px;
    height: 1200px;
    display: flex;
    flex-flow: column;
    margin: 50px;
    overflow: hidden;
}

.desfließtext {
    font-family: Arial;
    font-size: medium;
    color: rgba(2, 44, 30, 0.575);
    margin-top: 10%;
    font-weight: 700;
    flex-direction: column;
}

.verpackdiv {
    width: 100%;
    height: 900px;
    display: flex;
    flex-flow:row;
    overflow: hidden;
    margin: 20px;
}

.kontaktdaten {
    font-family: Arial;
    font-size: medium;
    color: rgba(2, 44, 30, 0.575);
    margin: 0px;
    margin-right: 80px;
    font-weight: 700;
    width: 300px;
}

form {
    font-family: Arial;
    font-weight: 700;
  }
  
  .container {
    padding: 50px;
    background-color: rgba(17, 100, 72, 0.575);
  }
  
  input[type=text], input[type=submit] {
    width: 350px;
    padding: 12px;
    margin: 8px;
    display: inline-block;
    border: 1px solid rgba(17, 100, 72, 0.575);
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: rgba(17, 100, 72, 0.575);
    color: antiquewhite;
}
@media screen and (max-width: 1400px min-width: 300px) 