.backgroundfront {
    background-image: url(background_new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
}

.parent {
    background-color:rgba(17, 100, 72, 0.575);
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-indent: 20px;
    overflow: hidden;
}
@media screen and (max-width: 1200px) {
    .parent {
        display: flex;
        flex-flow: column;
        height: auto;
         }
    
}


.logo {
    display: flex;
    align-items: center;
    margin: 50px;
    cursor: pointer;
}

.logo:hover {
    background-color:green;
}

.Menue {
    font-family: arial;
    font-size: large;
    margin: 50px;
    text-decoration: none;
    color: azure;
}

a {
    text-decoration: none;
    color: azure;
}

.frontheadline {
    font-family: arial;
    font-size: 70px;
    color: rgba(17, 100, 72, 0.575);
    margin: 50px;
}
@media screen and (max-width:1200px) {
    .frontheadline {
        word-wrap: break-word;
    }
    
}

.fliesstext {
    font-family: arial;
    font-weight: 700;
    color: azure;
    font-size: large;
}

.child {
    width: 400px;
    margin: 50px;
}
@media screen and (max-width:1200px) {
    .child {
        height: auto;
        margin: 10px;
        width: 370px;
    }
    
}

.mapchild {
    width: 1200px;
    height: 400px;
    margin: 50px;
    display: flex;
    flex-flow: row;
}
@media screen and (max-width: 1200px) {
    .mapchild {
        margin: 10px;
        width: 80%;
        flex-flow: column;
        height: auto;
    }
    
}

.fliesstextmap {
    font-family: Arial;
    font-size: medium;
    color: rgba(2, 44, 30, 0.575);
    font-weight: 700;
    margin-left: 20px;
}

.footer {
    background-color: rgba(17, 100, 72, 0.575);
    text-align: center;
    width: 100%;
    height: 100px;
    overflow: hidden;

}

.footertext {
    font-family: arial;
    font-size: medium;
    color: azure;
    font-weight: 700;
    padding: 10px;
}

.description {
    width: 400px;
    height: 1200px;
    display: flex;
    flex-flow: column;
    margin: 50px;
}
@media screen and (max-width: 1200px) {
    .description {
        flex-flow: column;
        height: auto;
        margin: 10px;
    }
    
}

.desfliesstext {
    font-family: Arial;
    font-size: medium;
    color: rgba(2, 44, 30, 0.575);
    margin-top: 10%;
    font-weight: 700;
    flex-direction: column;
    text-align: justify;
   
}
@media screen and (max-width: 1200px){
    .desfliesstext {
        width: 350px;
        height: auto;
    }
    
}

.verpackdiv {
    width: calc(100% - 40px);
    height: 900px;
    display: flex;
    flex-flow:row;
    overflow: hidden;
 
}
@media screen and (max-width: 1200px) {
    .verpackdiv {
        display: flex;
        flex-flow: column;
        height: auto;
        width: 380px;
     
    }
    
}


.kontaktdaten {
    font-family: Arial;
    font-size: medium;
    color: rgba(2, 44, 30, 0.575);
    margin: 0px;
    margin-right: 80px;
    font-weight: 700;
    width: 300px;
    text-align: justify;
}

form {
    font-family: Arial;
    font-weight: 700;
  }
  
  .container {
    padding: 50px;
    background-color: rgba(17, 100, 72, 0.575);
  }
  @media screen and (max-width: 1200px) {
      .container {
          width: 370px;
          height: auto;
         padding: 0%;

      }
      
  }
  
  input[type=text], input[type=submit] {
    width: 350px;
    padding: 12px;
    margin: 8px;
    display: inline-block;
    border: 1px solid rgba(17, 100, 72, 0.575);
    box-sizing: border-box;      
  }
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: rgba(17, 100, 72, 0.575);
    color: antiquewhite;
}
    body {
        margin: 0px;
    }

   