.header {
    background-color: grey;
    width: calc(100%-60px);
    padding: 30px;    
}
.Zutaten {
    background-color: floralwhite;
    color:grey;
    font-family: arial;

    }
.test{
    color: floralwhite;
    font-size: 30px;
    font-family: arial;
    margin: 25px;

}
.Zubereitung{
    font-size: 30px;
    background-color: floralwhite;
    color: grey;
    font-family: arial;
}
.fließtext {
    font-size: 30px;
    font-family: Arial;
    color: grey; 
}
a {
    text-decoration: none;
}

.background {
    background-image: url("gemuese-omelett-7745.jpg");
    background-size: cover;
}